@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  background-color: rgb(202, 202, 202);
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.App {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  display: flex;
  width: 88vw;
  height: 82vh;
  border-radius: 35px;
}

.weather-container {
  width: 25vw;
  overflow: hidden;
}

.weather-card {
  margin: 10%;
  height: 100%;
}

.hr-min {
  opacity: 0.5;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container input {
  width: 100%;
  border: none;
  padding: 2%;
}

.search-btn:hover {
  cursor: pointer;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  max-width: 100%;
  width: 80%;
}

.img-container {
  margin: 10%;
}

.temperature {
  font-size: 4rem;
  display: flex;
}

.celcius {
  font-size: 2.5rem;
}

.time {
  font-size: 1.1rem;
}

.more-info-container {
  background-color: rgb(245, 245, 245);
  width: 100%;
  border-radius: 35px;
  overflow-y: auto;
}

.more-info {
  margin: 3%;
}

nav {
  display: flex;
  font-size: 1.2rem;
}

nav span {
  text-decoration: none;
  opacity: 0.5;
  font-weight: 500;
}

nav span:hover {
  cursor: pointer;
}

.active-nav {
  opacity: 1;
  text-decoration-line: underline;
  text-decoration-thickness: 0.1rem;
}

.links {
  display: flex;
  gap: 1.5rem;
}

.temp-mode {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}

.temp-btn {
  background-color: white;
  border-radius: 50%;
  border: none;
  transform: scale(1.3);
}

.temp-btn:hover {
  cursor: pointer;
}

.sun img {
  max-width: 18%;
}

.sunrise {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.sunset {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.info-cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  margin: 2%;
  padding: 2%;
  width: 15vw;
  min-height: 20vh;
  border-radius: 25px;
}

.card-title {
  font-size: 1.3rem;
  opacity: 0.5;
}

.card-info {
  font-size: 1.8rem;
}

.card-info-container {
  display: flex;
  gap: 2rem;
}

.card-info-container img {
  max-width: 30%;
  transform: scale(0.8);
}

.active {
  color: white;
  background-color: black;
}

.week {
  display: flex;
  justify-content: space-evenly;
  margin: 2%;
}

.week-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 15%;
  margin: 0.5%;
  border-radius: 25px;
}

.active-week {
  background-color: rgb(190, 190, 190);
  color: white;
}

footer {
  position: relative;
  left: -37.5vw;
  top: 2vh;
}

footer a {
  text-decoration: none;
  color: black;
  opacity: 0.5;
  display: block;
}

footer a:hover {
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  * {
    padding: 0;
    margin: 0;
  }

  .container {
    flex-direction: column;
    width: 95vw;
    gap: 2rem;
    background-color: transparent;
  }

  .weather-container {
    width: 100%;
    height: 60%;
    background-color: white;
    border-radius: 35px;
  }

  .weather-card {
    margin: 5%;
  }

  .search-container {
    display: flex;
    width: 100%;
  }

  .img-container {
    justify-content: center;
    margin: 2%;
  }

  #weather-img {
    max-width: 30%;
  }

  .temperature {
    font-size: 3rem;
    justify-content: center;
  }

  .celcius {
    font-size: 2rem;
  }

  .time {
    text-align: center;
    font-size: 1rem;
    margin: 2%;
  }
}
