@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  background-color: rgb(202, 202, 202);
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.App {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  display: flex;
  width: 88vw;
  height: 82vh;
  border-radius: 35px;
}

.weather-container {
  width: 25vw;
}

.weather-card {
  margin: 10%;
  height: 100%;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container input {
  width: 100%;
  border: none;
  padding: 2%;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  max-width: 100%;
  width: 80%;
}

.temperature {
  font-size: 4rem;
  display: flex;
}

.celcius {
  font-size: 2.5rem;
}

.time {
  font-size: 1.1rem;
}

.more-info-container {
  background-color: rgb(245, 245, 245);
  width: 100%;
}

.more-info {
  margin: 3%;
}

nav {
  display: flex;
  font-size: 1.2rem;
}

nav a {
  text-decoration: none;
  color: gray;
}

.links {
  display: flex;
  gap: 1.5rem;
}

.temp-mode {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}

.temp-mode button {
  border-radius: 50%;
  border: none;
  transform: scale(1.3);
  background-color: white;
}

button .active {
  background-color: black;
  color: white;
}
